<link rel="stylesheet" href="/css/{{style}}.css">
<h1>{{errorMessage}}!</h1>
<section class="error-container">
  <span><span >{{statusCode.[0]}}</span></span>
  <span>{{statusCode.[1]}}</span>
  <span><span >{{statusCode.[2]}}</span></span>
</section>
<div class="link-container">
</div>
